<% @posts.each do |post| %>
  <!--  <div> <a href='<%="/posts/#{post.id}" %>'> <%= post.title %></a></div> OR: -->
 <!-- <div><%= link_to post.title, "/posts/#{post.id}" %></div> OR: --> 
 <!-- <div> <%= link_to post.title, post_path(post.id) %> </div> OR: -->
    <div> <%= link_to post.title, post_path(post) %> </div>
<%end%>